body {
    font-family: Arial, sans-serif;
    background-color: #cdc4be;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 3em;
    color: #80371d;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #0f596f;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
